
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: #666;
}

html::-webkit-scrollbar-thumb {
  background-color: #2639ac;
  border-radius: 5rem;
}

:root {
  --blue-bg: #101529;
  --box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 30%);
  --border: 0.1rem solid #000;
  --grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.header {
  display: flex;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  padding: 2rem 9%;
  justify-content: center;
}

.header.active {
  background-color: var(--blue-bg);
  box-shadow: var(--box-shadow);
  padding: 0.5rem 9%;
  display: flex;
}

.header .nav-right a {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  padding: 0 1.5rem;
  border-left: 0.1rem solid #eee;
  border-top: none;
  border-bottom: none;
}

.header .space {
  display: inline-block;
  width: 20rem;
}

.header .space img {
  display: none;
}

.header.active .space img {
  display: inline-block;
}

.header.active .space {
  width: 13rem;
  height: 7rem;
}

.header.active .space img {
  width: 100%;
  height: 100%;
}

.header .nav-left a {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 300;
  padding: 0 1.5rem;
  border-right: 0.1rem solid #eee;
  border-top: none;
  border-bottom: none;
}

.header .nav-right {
  margin-right: 6rem;
}

.header a:hover {
  color: #2639ac;
}

.header .boder-none-right {
  border-right: none;
}

.header .boder-none-left {
  border-left: none;
}

.home .home-bg {
  width: 100%;
  height: 100%;
}

.home .home-bg img {
  width: 100%;
  height: 100%;
}

.content {
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-top: -40rem;
  position: relative;
  background-color: var(--blue-bg);
  width: 98.5rem;  padding-left: .5rem;  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.content .lanterns{
  position: absolute;
  top: 0rem;
  left: -7.5rem;
}

.content .content-right .content-right-top {
  margin-top: .5rem;
  height: 11.5rem;
  width: 100%;
}

.content .content-right .content-right-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .content-right .content-right-bottom {
  background: url(../images/buttons-left.png) no-repeat;
  width: 24rem;
  height: 7rem;
  background-position: left 0.5rem;
  display: block;
}

.content .content-right .content-right-bottom:hover {
  background-position: right 0.5rem;
}

.content .content-right .content-right-bottom-bottom {
  background: url(../images/buttons-left.png) no-repeat;
  width: 24rem;
  height: 6.5rem;
  display: block;
  background-position: left -7rem;
}

.content .content-right .content-right-bottom-bottom:hover {
  background-position: right -7rem;
}

.content .slider {
  height: 100%;
  margin: 0 .5rem;
}

.content .swiper {
  width: 145rem;
}

.content .slider img {
  height: 100%;
  object-fit: cover;
}

.content .content-left{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: .5rem;
}

.content .content-left .content-left-top-4,
.content .content-left .content-left-top-3,
.content .content-left .content-left-top-2,
.content .content-left .content-left-top-1 {
  background: url(../images/buttons-right.png) no-repeat;
  width: 11.5rem;
  height:11.3rem;
}

.content .content-left .content-left-top-1:hover {
  background: url(../images/event-link-hover.png);
}

.content .content-left .content-left-top-2 {
  background-position: top right -2rem;
}

.content .content-left .content-left-top-2:hover {
  background: url(../images/event-link-hover.png);
  background-position: top right -2rem;
}

.content .content-left .content-left-top-3 {
  background-position: bottom left;
}

.content .content-left .content-left-top-3:hover{
  background: url(../images/event-link-hover.png);
  background-position: bottom left;
}

.content .content-left .content-left-top-4 {
  background-position: bottom right -2rem;
}

.content .content-left .content-left-top-4:hover {
  background: url(../images/event-link-hover.png);
  background-position: bottom right -2rem;
}

.content .content-left .content-left-bottom {
  width: 21rem;
  margin-top: 0.5rem;
}

.content .content-left .content-left-bottom img {
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 7.9rem;
}

.container .box {
  margin-right: 0.5rem;
}

.container .box .gift{
  display: flex;
  row-gap: 1rem;
  margin-left: 27.8rem;
  align-items: center;
  margin-bottom: .5rem;
  justify-content: center;
}

.container .box .gift .gift-img-1,
.container .box .gift .gift-img-2,
.container .box .gift .gift-img-3 {
  background: url(../images/cuuamlenh-vip-giftcode.png) no-repeat;
  width: 24.8rem;
  height: 8rem;
}

.container .box .gift .gift-img-1{

}

.container .box .gift .gift-img-2{
background-position: center;
}

.container .box .gift .gift-img-3{
  background-position: right;
}


.container .box .news {
  width: 74.3rem;
  border-top: none;
  margin-left: 27.8rem;
}

.container .box .news .news-nav {
  background: url(../images/news-header-bg.png) center center / cover
    no-repeat;
  background-position: center center;
  display: flex;
  padding: 1rem 0;
}

.container .box .news .news-nav a {
  color: #b78f54;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.container .box .news .news-nav a:first-child {
  color: #fff;
}

.container .box .news .news-nav a:hover {
  color: #eee;
}

.container .mission {
  background-color: var(--blue-bg);
  padding: 0.5rem;
  width: 23.7rem;
  row-gap: .5rem;
  display: grid;
  height: 28.5rem
}

.container .mission .mission-5,
.container .mission .mission-4,
.container .mission .mission-3, 
.container .mission .mission-2,
.container .mission .mission-1{
  background: url(../images/links-right.png) no-repeat;
  width: 23rem;
  display: block;
  height: 5rem;
}

.container .mission .mission-1:hover{
  background: url(../images/option-link-hover.png) no-repeat;
}

.container .mission .mission-2{
  background-position: center -6rem;
}

.container .mission .mission-2:hover{
  background: url(../images/option-link-hover.png) no-repeat;
  background-position: center;

}

.container .mission .mission-3{
  background-position: center -12rem;
}

.container .mission .mission-3:hover{
  background: url(../images/option-link-hover.png) no-repeat;
  background-position: bottom;
}

.container .mission .mission-4{
  background-position: center -17rem;
}

.container .mission .mission-4:hover{
  background: url(../images/option-link2-hover.png) no-repeat;
  background-position: center 0.12rem;
}

.container .mission .mission-5{
  background-position: center -22.5rem;
}

.container .mission .mission-5:hover{
  background: url(../images/option-link1-hover.png) no-repeat;
  background-position: center;

}

.container .box .news .news-container {
  padding: 1.5rem;
  display: block;
  border: 0.5rem solid #182a4a;
}

.container .box .news .news-container .news-box {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 7rem;
}

.container .box .news .news-container .news-box .box-img {
  border: 0.5rem solid #b78f54;
  flex: 1 1 0rem;
}

.container .box .news .news-container .news-box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .news .news-container .news-box .box-content {
  flex: 1 1 26rem;
}

.container .box .news .news-container .news-box .box-content h3 {
  border-left: 0.5rem solid red;
  padding-left: 0.5rem;
  font-size: 2rem;
  color: red;
  text-transform: uppercase;
  font-weight: 800;
}

.container .box .news .news-container .news-box .box-content h3:hover {
  cursor: pointer;
}

.container .box .news .news-container .news-box .box-content span {
  color: rgb(177, 177, 177);
  font-size: 1.3rem;
}

.container .box .news .news-container .news-box .box-content .time {
  color: red;
}

.container .box .news .news-container .news-box .box-content:hover .time {
  margin-left: .5rem;
  cursor: pointer;
  transition: .2s;
}

.container .box .news .news-container .news-box .box-content p {
  font-size: 1.5rem;
  color: #000;
  line-height: 1.5;
}

.container .box .news .news-container .news-btn {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-top: 1rem;
}

.container .box .news .news-container .news-btn a {
  padding: 0.5rem 1rem;
  border: 0.2rem solid #ccc;
  background-color: var(--blue-bg);
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.container .box .news .news-container .news-btn a i {
  margin: 0 0.5rem;
}


.footer {
  background: url(../images/bg-bottom.jpg) center center / cover no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.footer .logo-end {
  width: 10rem;
  height: 3rem;
  margin-left: 28rem;
}

.footer .logo-end img {
  width: 100%;
  height: 100%;
}

.space-footer {
  width: 20rem;
}

.footer .contact {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.footer .contact .support a {
  color: #000;
  padding: 0 0.5rem;
}

.footer .contact .support .border-support {
  border: 0.1rem solid #000;
  border-top: none;
  border-bottom: none;
}
